body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;

    line-height: 100px;
}

.cell span {
    display: inline-block;
    animation: fadeIn .1s ease-in;
    font-size: 60px;
}

span.winner {
    color: #cd4d40;
	backface-visibility: visible !important;
	animation: flip 1s ease;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        font-size: 20px;
    }
    100% { 
        opacity: 1;
        font-size: 60px;
    }
}


@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

#game-restart {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #ff6050;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

#game-restart:hover {
    box-shadow: 7px 5px 56px -14px #89342b;
}
   
#game-restart:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #89342b;
}